@font-face
  font-family: 'sell-icon'
  src:  url('../fonts/sell-icon.eot?2kufia')
  src:  url('../fonts/sell-icon.eot?2kufia#iefix') format('embedded-opentype'),
    url('../fonts/sell-icon.ttf?2kufia') format('truetype'),
    url('../fonts/sell-icon.woff?2kufia') format('woff'),
    url('../fonts/sell-icon.svg?2kufia#sell-icon') format('svg')
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sell-icon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-enter:before // 前进
  content: "\e900"

.icon-addition_fill:before // 添加
  content: "\e901"

.icon-close:before // 关闭
  content: "\e902"

.icon-like_fill:before // 爱心
  content: "\e903"

.icon-offline:before  // 减
  content: "\e904"

.icon-praise:before // 未点赞
  content: "\e905"

.icon-praise_fill:before  //点赞
  content: "\e906"

.icon-publish-goods_fill:before  // 购物车
  content: "\e907"

.icon-return:before // 返回
  content: "\e908"

.icon-success_fill:before  // 打勾
  content: "\e909"


