border-1px($color) // 定义一个css函数，参数是color
  position: relative
  &:after // 定义一个伪类选择器after
    display: block
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    border-top: 1px solid $color
    content: ' '  // 一条线，文字内容为空

border-none()
  &:after
    display: none

bg-image($url)
  background-image: url($url + "@2x.png")
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
    background-image: url($url + "@3x.png")
